app/config/parameters.yml
build/
phpunit.xml
.core/
.idea
docker-compose.override.yml
###> symfony/framework-bundle ###
.env
var/
vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
