
<header>
    <div class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("homepage") }}">Matura</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"> <a href="#"> Bananko </a></li>
                <li> <a href="#"> About</a></li>
                <li> <a href="#"> Dropdown</a></li>
            </ul>
        </div>
    </div>
</header>

