

<div class="panel">
    <div class="panel-heading">Placeholder aside</div>
    <div class="panel-body">
        <h4>Popis pitanja u ovom kvizu:</h4>
        <p><a href="#">Pitanje 1</a></p>

        <p><a href="#">Pitanje 2</a></p>

        <p><a href="#">Pitanje 3</a></p>
    </div>
</div>